/* 
    Document   : sukripsi
    Created on : Dec 30, 2012, 8:40:17 PM
    Author     : gieart
    Description:
        Purpose of the stylesheet follows.
*/
body{
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Georgia,Times,Roman;
    font-size: 12px;
    color: #444;
    line-height: 18px;
}

a{
    color: #333;
    text-decoration: none;
}

a:hover{
    color: #588C1D;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #2D3032;
}

#header{
    background-color: #FFFFFF;
    border-top: 3px solid #72B626;
    /*    background: -moz-linear-gradient(center top , #333333, #666666) repeat scroll 0 0 transparent;*/
    height: 100px;
}

.logo h1{
    font-family: Georgia,Times,Roman;
    font-size: 37px;
}

.logo-prefix{
    color: #7FCB2A;
    text-shadow: 0 1px 1px #333333;
}

.logo-sufix{
    color: #333333;
    font-style: italic;
    text-shadow: 0 1px 1px #AAAAAA;
}

.logo-desc{
    color: #555555;
    font-size: 12px;
}
.banner{
    margin-top: 16px;
}
.call-info{
    color: #777;
    margin-top: 10px;
}

.search-form{
    margin-top: 20px;
}

.centered{
    text-align: center;
}

.welcome-message{
    font-family: Georgia,Times,Roman;
    font-style: italic;
    text-shadow: 0 1px 1px #AAAAAA;
}

/* FORM */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: 0 0 0 4px #E6E6E6;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #72B626;
    box-shadow: 0 0 0 4px #E6E6E6;
}

.btn {
    background: none repeat scroll 0 0 padding-box #5D6468;
    border: 1px solid #51575A;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0 4px #E6E6E6;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 0 -1px 0 #2D3032;
}
.btn:hover {
    background: none repeat scroll 0 0 #757D83;
    border-color: #5D6468;
    color: #FFFFFF;
    transition: all 0.1s ease-in-out 0s;
}
.btn.btn-primary {
    background: none repeat scroll 0 0 #72B626;
    border: 1px solid #65A122;
    text-shadow: 0 -1px 0 #3D6214;
}
.btn.btn-primary:hover {
    background: none repeat scroll 0 0 #7FCB2A;
    border: 1px solid #72B626;
}

/* Navbar */

.navbar-inner > .container{
    width: 940px;
}

.navbar {
    margin-top: 20px;
}
.navbar-inner {
    background: none no-repeat scroll 0 0 padding-box #2D3032;
    border: medium none;
    border-radius: 0 0 0 0;
    filter: none;
}
.navbar .brand, .navbar .nav > li > a {
    background: url("../../asset/img/navigation-divider.png") no-repeat scroll right 50% transparent;
    color: #FFFFFF;
    font-size: 13px;
    padding: 12px 27px;
    text-shadow: none;
}
.navbar .brand:hover, .navbar .nav > li > a:hover {
    background: none repeat scroll 0 0 #72B626;
    color: #FFFFFF;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: none repeat scroll 0 0 #72B626;
    box-shadow: none;
    color: #FFFFFF;
}
.navbar .brand:hover {
    background-color: transparent;
}
.navbar .btn-navbar {
    background-color: #222222;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #040404 #040404 black;
    color: #FFFFFF;
    margin-top: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .btn-navbar:hover {
    background-color: #222222;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #72B626;
    color: #FFFFFF;
}
.navbar .nav li.open > a {
    background: none repeat scroll 0 0 transparent;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #2D3032;
    border-radius: 0 0 0 0;
    margin-top: -1px;
}
.dropdown-menu li > a {
    color: #FFFFFF;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #72B626;
    background-image: none;
    filter: none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret, .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #FFFFFF;
}
.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
    display: none;
}


/* Widget Tabs */
.nav-tabs{
    font-size: 10px;
    color: #588C1D;
}

.nav-tabs a{
    color: #588C1D;
}
.newest, .popular, .commented, .other-posts, .categories {
    list-style: none;
    margin-left: 0;
    font-weight: bold;
}

.newest li, .popular li, .commented li, .other-posts li, .categories li{
    border-bottom: 1px #CCC dotted;
    margin-bottom: 5px;
}
.post-attr{
    font-size: 10px;
    color: #666;
    font-weight: normal;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover{
    border-color: #588C1D #588C1D transparent;
}

.nav-tabs{
    border-bottom: 1px solid #588C1D;
}

/* Article */
article h3{
    font-size: 16px;
    line-height: 20px;
    font-family: Georgia,Times,Roman;
}
article h3 a {
    color: #2D3032;
}
article h3 a:hover {
    color: #72B626;
}


/*  Footer */
footer {
    background: none repeat scroll 0 0 #2D3032;
    border-top: 5px solid #212325;
    color: #AAAAAA;
    padding-top: 15px;
}
footer h4 {
    color: #FFFFFF;
    font-size: 14px;
}
footer a {
    border-bottom: 1px dotted #AAAAAA;
    color: #72B626;
}
footer a:hover {
    color: #FFFFFF;
}
footer .bottom-line {
    background: none repeat scroll 0 0 #212325;
    padding: 20px;
    width: auto;
}
footer .bottom-line p {
    margin: 0;
}
footer hr {
    border-bottom: 1px solid #454A4D;
    border-top: 0 none;
}
.footer-form .btn {
    border: 0 none;
    box-shadow: 0 0 0 0 transparent;
    text-shadow: 0 0 0 transparent;
}
.footer-form .btn:hover {
    border: 0 none;
}
.footer-form fieldset input[type="text"] {
    border: 1px solid #000000;
    box-shadow: 0 0 0 0 transparent;
}

.flickr{
    list-style: none;
    margin-left: 10px;
}

.flickr li{
    margin: 0 7px 12px 6px;
    float: left;
}

.flickr li a{
    border-bottom: none;
}

.flickr li img{
    border-radius: 2px 2px 2px 2px;
    border: 2px solid #DDD;
    opacity: 0.6;
}

.flickr li img:hover{
    opacity: 1;
}


/* box and widget */

.box-title{
    border-bottom: 1px dotted #CCC;
    color: #333;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 40px;
}
.box-title span{
    border-left: 3px solid #588C1D;
    padding-bottom: 12px;
    color: #588C1D;
    padding-left: 7px;
}

.img-rounded{
    border-radius: 4px 4px 4px 4px;
}

/* Blog */
.post-title {
    margin-top: 10px;
}
.post-meta {
    font-size: 11px;
    margin-bottom: 20px;
    margin-left: 0;
    overflow: hidden;
}
.post-meta li {
    float: left;
    list-style: none outside none;
    margin-right: 15px;
}
.post-meta-day {
    background-color: #FF6827;
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
}
.post-meta-month {
    background-color: #E84807;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.post-media {
    margin-bottom: 15px;
}
.post-content {
}
.post-content i {
    margin-right: 15px;
}
.accordion-heading {
    background-color: #588C1D;
}
.accordion-heading:hover {
    background-color: #72B626;
}
.accordion-toggle, .accordion-toggle:hover {
    color: #FFFFFF;
}
.accordion-group {
    background-color: #E9E9E9;
    border: 0 none;
}

.post-count{
    font-size: 11px;
    color: #666;
    font-weight: normal;
}


/* Comment */

.comments-box ul, comments-box ol, comments-box li{
    list-style: none;
}
ul.nested-comments li, ul.nested-comments-complex li {
    margin-left: 3em;
}

ul.nested-comments li ul {
    border-left: 1px solid #999;
    position: relative;
}

ul.nested-comments-complex li ul {
    position: relative;
    background: transparent url('../../asset/img/border-left.png') repeat-y left top;
}

ul.nested-comments li ul::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #999;
    width: 2em;
    top: 2em;
}

ul.nested-comments-complex li ul::before {
    content: '';
    position: absolute;
    width: 2em;
    top: 2em;
    background: transparent url('../../asset/img/border-bottom.png') repeat-x left top;
    height: 5px;
}

div.comment {
    background: #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    padding: 1em;
    margin-bottom: 1em;
}


/* Galleries */

.filter {
    list-style: none outside none;
    margin-bottom: 40px;
    margin-left: 0;
    padding: 0;
}
.filter li {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}
.filter a {
    background: none repeat scroll 0 0 padding-box #454A4D;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    margin-right: 5px;
    padding: 6px 12px;
    text-decoration: none;
}
.filter a:hover {
    background: none repeat scroll 0 0 #72B626;
}
.filter span {
    margin-right: 5px;
}
.filter .active {
    background: none repeat scroll 0 0 #72B626;
}